body {
     margin:0px; padding:0px; 

    color: #000000;
    font-family: orbitron;
    line-height: 1.6;
  
    filter: contrast(1.20);
}

label{
    display: none;
}
 a:link{
     text-decoration: none;
     filter: contrast(1.20);
 }

a{
    filter: contrast(1.20);
}
/* Réglage police */
p{
    color: rgb(209, 104, 209);
    text-shadow: 5px 5px 5px  black;
}

p {

    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    font-weight: bold;
 }
 
 p:hover{
     text-shadow: 5px 5px 5px white;
 }

 

/*boutons changés style*/


.fixed-header {
   
    top: 0;
    left: 0;
    width: 100%; 
}

/*Réglages nav*/


nav {
    width: 100%;
    height: 60px;
    background: #fdfdfd;
    position: relative;
    z-index: 10;
}

nav div {
    color: rgb(8, 8, 8);
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}


nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li { 
    display: inline-block; 
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none; 
    color: #0c0b0b;
    filter: contrast(1.20);

}






/* Réglages parralax */


#paragraphe1{
    background: url("para1.png") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: white;
    height: 800px;
    filter: contrast(1.20);
    
}


#paragraphe2{

    background: url("para2.png") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: white;
    height: 800px;
    filter: contrast(1.20);
}

#paragraphe3{

    background: url("para3.png") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: white;
    height: 800px;
    filter: contrast(1.20);

}

#paragraphe4{

    background: url("para4.png") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: white;
    height: 800px;
    filter: contrast(1.20);


}

#paragraphe5{

    background: url("para5.png") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: #fdfbfb77;
    height: 800px;
    filter: contrast(1.20);

}

#paragraphe6{

    background: url("para6.png") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: white;
    height: 800px;
    filter: contrast(1.20);


}

#paragraphe7{

    background: url("para7.png") center 0 no-repeat fixed;
    color: #fefdff;
    background-color: white;
    height: 800px;  
    filter: contrast(1.20);

}

#paragraphe8{

    background: url("para8.png")  center 0 no-repeat fixed;
    color: #fefdff;
    background-color: white;
    height: 800px;  
    width: 100%;
    filter: contrast(1.20);

}


#paragraphe9{

    background: url("para9.png") center 0 no-repeat fixed;

    color: #fefdff;
    background-color:white;
    height: 900px;  
    filter: contrast(1.20);

}
/*Fin Réglages parralax */





/*L'effet underline sur a */


li{
    
    text-transform: uppercase;
   
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px 15px 25px;
    padding-bottom: 1px;
    top: -25px;
    position: relative;
    
  }
li:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: rgb(7, 7, 7);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  li:hover:after { 
    width: 100%; 
    left: 0; 
  }


  /* Réglages du dropdown*/


.dropdown{
    position: relative;
    width: 10%;
    margin-left: 50px;
    margin-bottom: 25px;
}


/* mediaqueries*/
@media only screen and (max-width: 960px) {
    
    body {
        margin:0px; padding:0px; 
   
       color: #000000;
       font-family: orbitron;
       line-height: 1.6;
     
       filter: contrast(1.20);
    }
   
   label{
       display: none;
   }
    a:link{
        text-decoration: none;
        filter: contrast(1.20);
    }
   
   a{
    filter: contrast(1.20);
   }
   /* Réglage police */
   p{
       color: rgb(209, 104, 209);
       text-shadow: 5px 5px 5px  black;
   }
   
   p {
   
       margin-top: 15%;
       margin-left: 10%;
       margin-right: 10%;
       font-size: large;
       font-weight: bold;
    }
    
    p:hover{
        text-shadow: 5px 5px 5px white;
    }
   
    
   
   /*boutons changés style*/
   
   
   .fixed-header {
      
       top: 0;
       left: 0;
       width: 100%; 
       filter: contrast(1.20);

   }
   
   /*Réglages nav*/
   
   
   nav {
       width: 100%;
       height: 60px;
       background: #fdfdfd;
       position: relative;
       z-index: 10;
       filter: contrast(1.20);

   }
   
   nav div {
       color: rgb(8, 8, 8);
       font-size: 2rem;
       line-height: 60px;
       position: absolute;
       top: 0;
       left: 2%;
       visibility: hidden;
       filter: contrast(1.20);

   }
   
   
   nav ul { 
       list-style-type: none;
       margin: 0 2% auto 0;
       padding-left: 0;
       text-align: right;
       max-width: 100%;
       filter: contrast(1.20);

   }
   nav ul li { 
       display: inline-block; 
       line-height: 60px;
       margin-left: 10px;
       filter: contrast(1.20);

   }
   nav ul li a {
       text-decoration: none; 
       color: #0c0b0b;
       filter: contrast(1.20);

   }
   
   
   
   
   
   
   /* Réglages parralax */
   
   
   #paragraphe1{
       background: url("para1.png") center 0 no-repeat fixed;
       color: #fefdff;
       background-color: white;
       height: 800px;
       filter: contrast(1.20);

       
   }
   
   
   #paragraphe2{
   
       background: url("para2.png") center 0 no-repeat fixed;
       color: #fefdff;
       background-color: white;
       height: 800px;
       filter: contrast(1.20);
    }
   
   #paragraphe3{
   
       background: url("para3.png") center 0 no-repeat fixed;
       color: #fefdff;
       background-color: white;
       height: 800px;
       filter: contrast(1.20);
    }
   
   #paragraphe4{
   
       background: url("para4.png") center 0 no-repeat fixed;
       color: #fefdff;
       background-color: white;
       height: 800px;
       filter: contrast(1.20);
   
   }
   
   #paragraphe5{
   
       background: url("para5.png") center 0 no-repeat fixed;
       color: #fefdff;
       background-color: #fdfbfb77;
       height: 800px;
       filter: contrast(1.20);
    }
   
   #paragraphe6{
   
       background: url("para6.png") center 0 no-repeat fixed;
       color: #fefdff;
       background-color: white;
       height: 800px;
       filter: contrast(1.20);
   
   }
   
   #paragraphe7{
   
       background: url("para7.png") center 0 no-repeat fixed;
       color: #fefdff;
       background-color: white;
       height: 800px;  
       filter: contrast(1.75);
   }
   
   #paragraphe8{
   
       background: url("para8.png")  center 0 no-repeat fixed;
       color: #fefdff;
       background-color: white;
       height: 800px;  
       width: 100%;
       filter: contrast(1.20);
    }
   
   
   #paragraphe9{
   
       background: url("para9.png") center 0 no-repeat fixed;
   
       color: #fefdff;
       background-color:white;
       height: 900px;  
       filter: contrast(1.20);
    }
   /*Fin Réglages parralax */
   
   
   
   
   
   /*L'effet underline sur a */
   
   
   li{
       
       text-transform: uppercase;
      
       letter-spacing: 0.15em;
       
       display: inline-block;
       padding: 15px 20px 15px 25px;
       padding-bottom: 1px;
       top: -25px;
       position: relative;
       
     }
   li:after {    
       background: none repeat scroll 0 0 transparent;
       bottom: 0;
       content: "";
       display: block;
       height: 4px;
       left: 50%;
       position: absolute;
       background: rgb(7, 7, 7);
       transition: width 0.3s ease 0s, left 0.3s ease 0s;
       width: 0;
     }
     li:hover:after { 
       width: 100%; 
       left: 0; 
     }
   
   
     /* Réglages du dropdown*/
   
   
   .dropdown{
       position: relative;
       width: 10%;
       margin-left: 50px;
       margin-bottom: 25px;
       filter: contrast(1.20);
 }
/* Régle 16 9e */

@media only screen and (max-width: 1366px){

    header{

        height: 20%; 
        filter: contrast(1.20);

    }
   
    

li{
    position: relative;
    display: block;
    top: -20px;
    padding-left: 1px;
    filter: contrast(1.20);

}

li:after{
    display: none;
    filter: contrast(1.20);

}



}


/* Régle spéciale hipsters fans d'apple watch*/
@media only screen and (max-width: 368px) {

    header{

        height: 20%; 
        
    }
    p {

        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: small;
     }

 
li{
    position: relative;
    top: -20px;
    padding-left: 1px;
}

li:after{
    display: none;
}

.dropdown{
   display:none;
}
.dropdown-menu{
  display:none;
}

}
}
